<div class="row profile-form">
    <form class="col s12" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="row">
            <div class="input-field col s6">
                <label for="first_name">First Name</label>
                <input id="first_name" type="text" [ngClass]="{validate: true, invalidClass: (first.dirty || first.touched) && first.invalid }" #first="ngModel" placeholder="Your first name" ngModel name="first" required minlength="6">
                <div [hidden] = "first.valid || first.pristine " class="alert alert-danger">Please, enter a name of </div>
                       </div>
            <div class="input-field col s6">
                <label for="last_name">Last Name</label>
                <input id="last_name" type="text"  [ngClass]="{validate: true, invalidClass: (last.dirty || last.touched) && last.invalid }" #last="ngModel" placeholder="Your last name" ngModel name="last" required>
                <div [hidden] = "last.valid || last.pristine" class="alert alert-danger">Please, enter you last name.</div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="password">Password</label>
                <input id="password" type="password"  [ngClass]="{validate: true, invalidClass: (pass.dirty || pass.touched) && pass.invalid }" #pass="ngModel" placeholder="Choose a password" ngModel name="password" required>
                <div [hidden] = "pass.valid || pass.pristine" class="alert alert-danger">Please, choose a password.</div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="email">Email</label>
                <input id="email" type="email"  [ngClass]="{validate: true, invalidClass: (email.dirty || email.touched) && email.invalid }" #email="ngModel" placeholder="You email address" [(ngModel)]="emailBase" name="email" required>
                <div [hidden] = "email.valid || email.pristine" class="alert alert-danger">Please, enter you email address.</div>
            </div>
        </div>
        <button type="Submit" class="waves-effect waves-light btn">Submit</button>
    </form>

</div>



